.thumbnail { height: 280px !important;border-width:3px }
li
{
      list-style: none;
}

.btn-droppable { padding-left: 4px;display: block; }
.btn-draggable { margin-bottom: 20px;padding-bottom:5px ;display: block;}


#sub_body
{
      position: absolute;
width: 96%;
top: 150px;
left: 27px;
height: 500px;
}

#input_field_container
{
}
#input_field_options_container{

}
#design_body
{
      height: 500px;    
 
}

#design_option{
position: relative;
width: 100%;
top: 50px;
left: 20%;
}

#design_option button
{
      width: 25%;
}
*{
      color: black;
}