.thumbnail { padding-bottom: 20px; height: 300px !important;border-width:3px }
li
{
      list-style: none;
}

.btn-droppable { padding-left: 4px;display: block; }
.btn-draggable { margin-bottom: 20px;padding-bottom:5px ;display: block;}


#sub_body
{
      position: absolute;
width: 96%;
top: 150px;
left: 27px;
height: 500px;
}
body{
      background-color: rgb(246, 190, 85);
}
h4{
      color: black;
}

/*
      margin-left: 14%;
      margin-right: 14%;
*/

#CodeBody {
      padding-bottom: 5%;

      border-radius: 10.2px;
      box-shadow: 0 0 16px  rgb(91, 91, 91);
      background-color: white;
    }
    
    textarea {
      resize: none;
      border:0px black;
    }  

.field_label
{
      text-align: center;
      font-size: 18px;
}




#design_body
{
      height: 500px;    
 
}

#design_option{
position: relative;
width: 100%;
top: 50px;
left: 20%;
}

#design_option button
{
      width: 25%;
}
*{
      color: black;
}








